.Weather{
  font-family: arial,sans-serif;
  border: 1px solid #e7f0fd;
  padding: 20px;
  border-radius: 4px;
  background-image: linear-gradient(109.6deg, rgb(20, 30, 48) 11.2%, rgb(36, 59, 85) 91.1%);
}

.Weather h1{
  font-size:50px;
  font-weight:100;
  margin:40px 10px 5px 30px;
  line-height: 30px;
  color: #f9f5f0;
}

.Weather ul{
  margin:10px 30px;
  padding:0;
  color: #f9f5f0;
}

.Weather li{
  font-size:16px;
  font-weight: 100;
  line-height: 25px;
  list-style:none;
  color: #f9f5f0;
}

.Weather canvas{
  display:inline-block;
  margin: auto 15px;

}

.Weather .temperature{
  font-weight: bold;
  color: #f9f5f0;
  font-size:64px;
  line-height: 64px;
  font-weight: 400;
}

.Weather .unit {
color: #f9f5f0;
font-size: 16px;
font-weight: 400;
position:relative;
top:-35px;
margin-left:2px;
line-height: 1;

}
