.Weather{
  font-family: arial,sans-serif;
  border: 1px solid #e7f0fd;
  padding: 20px;
  max-width: 600px;
  border-radius: 4px;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

.Weather h1{
  font-size:30px;
  font-weight:100;
  margin:20px 0 0 0;
  line-height: 30px;
}

.Weather ul{
  margin:0;
  padding:0;
}

.Weather li{
  font-size:16px;
  font-weight: 100;
  line-height: 25px;
  list-style:none;
}

.Weather canvas{
  margin-right: 5px;
  display:inline-block;
  margin-right:10px;

}

.Weather .temperature{
  font-weight: bold;
  color:rgb(33,33,33);
  font-size:64px;
  line-height: 64px;
  font-weight: 400;
}

.Weather .unit {
color:rgb(33,33,33);
font-size: 16px;
font-weight: 400;
position:relative;
top:-35px;
margin-left:2px;
line-height: 1;

}
